@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  background-color: transparent;
  margin: 2;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 12px;
}

.modules-left {
  padding: 0 20px;
  /* border-radius: 0 20px 0 20px; */
}

.modules-center {
  padding: 0 20px;
  /* border-radius: 0 0 20px 20px; */
}

.modules-right {
  padding: 0 20px;
  /* border-radius: 20px 0 20px 0; */
}

#workspaces {
  margin: 0 7.5px;
  padding: 0 8px;
  border-radius: 0 15px 0 10px;
  background: @background;
  border: solid 1px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-weather,
#custom-niflveil,
#clock,
#network,
#tray-expander,
#bluetooth,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 2px;
  padding: 0 8px;
  border-radius: 10px 0 10px 0;
  background: @background;
  border: solid 1px;
}

#tray-expander {
  padding-right: 4px;
  padding-left: 10px;
  border-radius: 15px 0 10px 0;
}

#custom-omarchy {
  border-radius: 0 10px 0px 10px;
}

#tray menu {
  background-color: @background; /* Use your theme's background color; replace with a hex code like #ffffff if needed */
}

tooltip {
  padding: 2px;
  background: @background;
}

#custom-update {
  font-size: 10px;
  border-radius: 0px 10px 0 10px;
}

#clock {
  border-radius: 0 0 10px 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-niflveil {
  border-radius: 0px 10px 0px 15px;
}

#custom-weather {
  border-bottom-right-radius: 15px;
}
